<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/oldboy.css' %}"/>
</head>
<body>
<div class="pg-header">
    <div style="width: 1000px;margin: 0 auto;">
        <div class="head-title">首页</div>
        <div class="head-title">师资团队</div>
        <div class="head-title">课程介绍</div>
        <div class="head-title">学员就业</div>
        <div class="head-title">学员生活</div>
        <div class="head-title">常见问题</div>
        <div class="head-title">关于我们</div>
        <div class="head-title">010-337845818</div>
    </div>
</div>
</body>
</html>